.rooms-container {
  .rooms-main {
    padding-left: 13.65em;
    .room-main-header {
      background-color: #105ed4;
      box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
      color: #fff;
      padding: 1.5em 1em;
      margin-bottom: 0.75em;
      h2 {
        padding-left: 0.75em;
      }
    }
    .go-back-link {
      color: #105ed4;
      text-decoration: none;
      padding: 1em;
    }
    .rooms-table-container {
      padding: 1em;
      .room-table-headers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1em;
        h3 {
          color: #105ed4;
          font-size: 1.75em;
        }
        small {
          color: #105ed4;
          font-size: 0.9em;
        }
      }
      .single-room-main-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        .spinner-container {
          width: 100vw;
          max-width: 68em;
        }
        .single-room-container {
          background-color: #fff;
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          transition: 0.3 all ease-in-out;

          .room {
            display: grid;

            .room-img-container {
              max-height: 14em;
              .room-img {
                width: 100%;
                height: 12.5em;
              }
            }
            .room-details {
              padding: 0.5em 1em;
              color: #105ed4;
              display: flex;
              flex-direction: column;
              gap: 0.25em;
              padding-bottom: 1.5em;
              h4 {
                font-size: 1.25em;
              }
              p {
                font-size: 0.9em;
                display: flex;
                align-items: center;
                gap: 0.25em;
              }
            }
          }
        }
        .single-room-container:hover {
          box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
        }
      }
    }
  }
}
